

.course-card {
    margin: 20px 10px;
}

.course-actions {
    text-align: center;

}

.course-actions button {
  margin-right: 10px;
}

 mat-list {
    overflow: auto;
    max-height:600px;
}
mat-list-item { 
  cursor: pointer;
}