
main {
  margin: 30px;
}

.menu-button {
  background: rgba(255, 170, 0, 0.76);
  color: white;
  border: none;
  cursor:pointer;
  outline:none;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.promo-text {
  font-size: 14px;
  color: #88a717;
}

.title {
    text-align: center;
    margin-right: 15px;

}

.courses-panel {
    max-width: 100%;
    margin: 0 auto;
}


.counters {
    display: flex;
}

.filler {
    flex: 1 1 auto;
}

h2 {
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

}



.spinner-container {
  margin-top: 100px;
}



.isp-list-area {
  width:59%;
  border: 2px solid #c3c2c2;
  float:left;
}
.isp-info-area {
  width:40%;
  border: 2px solid #c3c2c2;
  float:left;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.isp-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 999; /* Ensure that your app's content doesn't overlap the toolbar */
}