<div class='app-toolbar'>
  <mat-toolbar>
    <span>
      <img src='/assets/biz2credit.png' width='140px' />
      <span class='promo-text'>- Searching ISP made easy!</span>
    </span>

    <span class="example-fill-remaining-space">
    </span>
    <span>
      <mat-chip-list aria-label="Counter">
        <mat-chip color="warn" selected>Total ISP: {{ispTotal$ | async}} | API Hits: {{apiCount$ | async}}
        </mat-chip>
      </mat-chip-list>
    </span>
  </mat-toolbar>
</div>
<div class="isp-area">
  <div class="isp-list-area">
    <div class='isp-toolbar'>
      <mat-toolbar color='secondary'>
        <span>
          <button mat-button color="warn">
            <mat-icon aria-hidden="false">home</mat-icon>
            Home
          </button>
        </span>
        <span class="example-fill-remaining-space">
        </span>
        <span>
          <mat-search-bar></mat-search-bar>
        </span>
      </mat-toolbar>
    </div>
    <bizisps-card-list (onChangeSelectedISP)="onChangeSelectedISP($event)" [bizISPs]="bizISPList$ | async">
    </bizisps-card-list>
  </div>
  <div class="isp-info-area">
    <bizisp-view [events]="eventsSubject.asObservable()"></bizisp-view>
  </div>