/* You can add global styles to this file, and also import other style files */



@import "~@angular/material/theming";
@import '~ngx-bar-rating/themes/br-stars-theme';
// Include non-theme styles for core.
@include mat-core();

$mat-custom-theme: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: rgba(255, 152, 0, 0.8),
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);


// Define a theme.
$primary: mat-palette($mat-custom-theme);
$secondary: mat-palette($mat-blue);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent, $secondary);

// Include all theme styles for the components.
@include angular-material-theme($theme);


.spinner-container {
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  margin-top: 70px;
  z-index: 1;
  opacity: 0.5;
  justify-content: center;
}
body {
  margin:0px;
  padding:0px;
  overflow: hidden;
}

