<div *ngIf="selectedISP; else noSelectedISP">
    <div class="isp-highlight">
        <div class="isp-logo-area">
            <img class="logo-img" [src]="selectedISP.logo" />
        </div>
        <div class="isp-overview">
            <mat-list>
                <div mat-subheader>{{selectedISP.name}}</div>
                <mat-list-item>
                    <mat-icon>wifi</mat-icon>
                    Max. Speed : {{getBasePlan().maxspeed}}
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>phone</mat-icon>
                    {{selectedISP.contacts.phone}}
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>mail</mat-icon>
                    {{selectedISP.contacts.email}}
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>local_atm</mat-icon>
                    Min. Plan({{getBasePlan().planname}}): {{getBasePlan().price}}/-
                </mat-list-item>
            </mat-list>

        </div>
    </div>
    <div class="isp-rating">
        <span class="bar-rating-text">Rating: </span>
        <bar-rating [rate]="selectedISP.averagerating" [max]="5" [readOnly]="true" [theme]="'stars'"></bar-rating>
    </div>
    <mat-card class="example-card">
        <mat-card-content>
            <mat-card>
                {{selectedISP.description}}
            </mat-card>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="warn">
                <mat-icon aria-hidden="false">thumb_up_alt</mat-icon>
                LIKE
            </button>
            <button mat-button color="accent">
                <mat-icon aria-hidden="false">share</mat-icon>
                SHARE
            </button>
            <button mat-button color="primary">
                <mat-icon aria-hidden="false">cloud_download</mat-icon>
                DOWNLOAD
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<ng-template #noSelectedISP>
    <div class="isp-highlight">
        <mat-card>Please Click on the ISP to View the Plan detail.</mat-card>
    </div>
</ng-template>