
.isp-logo-area {
    width: 45%;
    overflow: hidden;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-top: 15%;
  }
  .logo-img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
  }
  .isp-overview {
    width:55%;
    overflow: hidden;
    float:left;
  }
  
.isp-desc, .isp-action {
    width:100%;
  }
  .bar-rating-text {
    font-size:22px;
  }
  bar-rating {
    display: inline-block; 
  }
  
  .isp-desc {
    width: 95%;
    margin: 24px auto;
  }
  
  .isp-rating {
    width: 95%;
    margin: 0 auto;
  }